$transparent: #00000000;

// Color Primitives
$red-1000: #470808;
$red-900: #5e0b0b;
$red-800: #8d1010;
$red-700: #bc1616;
$red-600: #eb1b1b;
$red-500: #ef4949;
$red-400: #f7a4a4;
$red-300: #f9bbbb;
$red-200: #fbd1d1;
$red-100: #fff1ea;

$green-1000: #1e481b;
$green-900: #2d6d28;
$green-800: #3c9136;
$green-700: #4bb543;
$green-600: #6fc469;
$green-500: #93d38e;
$green-400: #b7e1b4;
$green-300: #c9e9c7;
$green-200: #dbf0d9;
$green-100: #eafff1;

$blue-1000: #140d4b;
$blue-900: #1d1462;
$blue-800: #3c337e;
$blue-700: #7971b7;
$blue-600: #9790d3;
$blue-500: #c5bff2;
$blue-400: #d3cff5;
$blue-300: #e2dff9;
$blue-200: #e9e7fa;
$blue-100: #f0effc;

$yellow-1000: #675611;
$yellow-900: #9a7f1a;
$yellow-800: #cca922;
$yellow-700: #ffd32b;
$yellow-600: #ffdc55;
$yellow-500: #ffe580;
$yellow-400: #ffedaa;
$yellow-300: #fff2bf;
$yellow-200: #fff6d5;
$yellow-100: #faf3d8;

$grey-1000: #181e25;
$grey-900: #313b4a;
$grey-800: #5c6878;
$grey-700: #7c8694;
$grey-600: #9ba3af;
$grey-500: #bbc1cb;
$grey-400: #cfd5de;
$grey-300: #dadfe7;
$grey-200: #f1f3f5;
$grey-100: #f8f9fa;

$white: #ffffff;
$black: #000000;
$transperent: transparent;

// new style guide
// system styles
$brand-primary: $blue-600;
$outline: $grey-300;
$outline-hover: $blue-700;
$neutral-dark-primary: $grey-1000;
$neutral-dark-secondary: $grey-800;
$neutral-dark-tertiary: $grey-700;
$neutral-dark-quarternary: $grey-600;
$neutral-light-primary: $white;
$neutral-light-secondary: $grey-100;
$menu-hover: $blue-100;

// background
$bg-default: $neutral-light-primary;
$on-bg: $grey-1000; // TODO: use $on-bg-primary instead
$on-bg-primary: $neutral-dark-primary;
$on-bg-secondary: $neutral-dark-secondary;
$on-bg-tertiary: $neutral-dark-tertiary;

// surface
$bg-surface-default: $neutral-light-primary;
$bg-surface-hover: $neutral-light-secondary;
$on-surface-primary: $neutral-dark-primary;
$on-surface-secondary: $neutral-dark-tertiary;
$on-surface-tertiary: $neutral-dark-quarternary;
$outline-surface-default: $outline;
$outline-surface-hover: $outline-hover;

// old style guide - prefer new one
$primary: $blue-900;
$secondary: $grey-200;

$color-white: $white; // TODO: refactor to usage just $white
$color-black: #000; // ODO: refactor to usage just $black
